<?xml version='1.0'?>
<!--
  ~ Stream-Pi - Free, Open-Source, Modular, Cross-Platform and Programmable Macro Pad
  ~ Copyright (C) 2019-2022 Debayan Sutradhar (rnayabed),  Samuel Quiñones (SamuelQuinones)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  -->

<manifest xmlns:android='http://schemas.android.com/apk/res/android' package='com.streampi.client' android:versionCode='2' android:versionName='2.0.0-SNAPSHOT'>
    <supports-screens android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-sdk android:targetSdkVersion="29" android:minSdkVersion="21"/>
    <application android:label='Stream-Pi Client' android:icon="@mipmap/ic_launcher"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name='com.gluonhq.helloandroid.MainActivity'
                  android:configChanges="orientation|keyboardHidden">
             <intent-filter>
                <category android:name='android.intent.category.LAUNCHER'/>
                <action android:name='android.intent.action.MAIN'/>
             </intent-filter>
        </activity>

        <activity android:name="com.gluonhq.impl.attach.android.PermissionRequestActivity" />
        <activity android:name='com.gluonhq.helloandroid.PermissionRequestActivity'/>
    </application>
</manifest>

