.alert_error_icon
{
    -fx-icon-color: RED;
}

.alert_information_icon
{
    -fx-icon-color: BLUE;
}

.alert_warning_icon
{
    -fx-icon-color: #ffcc00;
}

.action_box_error_icon{
    -fx-icon-color:red;
}

.action_box_toggle_on
{
    -fx-icon-code: fas-toggle-on;
}

.action_box_toggle_off
{
    -fx-icon-code: fas-toggle-off;
}