.alert_error_icon
{
    -fx-icon-color: RED;
}

.alert_information_icon
{
    -fx-icon-color: BLUE;
}

.alert_warning_icon
{
    -fx-icon-color: #ffcc00;
}

.action_box_error_icon{
    -fx-icon-color:red;
}