.root {
  -fx-font-family : 'Roboto';
}


.action_box
{
    -fx-border-width: 1px;
    -fx-border-color : grey;
}

.action_box_icon_present
{

}

.action_box_icon_not_present
{

}

.action_box_onclick
{

}

.settings_heading_label
{
    -fx-font-size: 20;
}

.alert_header
{
    -fx-padding: 5;
}

.alert_pane
{
    -fx-border-width : 5;
    -fx-border-radius : 5; 
    -fx-background-radius : 5;
    -fx-max-width : 400;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0.0 , 0 );
}

.alert_header_icon
{
    -fx-icon-size : 30;
}

.alert_content_pane
{
    -fx-padding: 5;
}

.alert_pane_parent, .combobox_pane_parent
{
    -fx-background-color : rgba(0,0,0,0.5);
}

.alert_pane_header_text
{
    -fx-font-size: 18;
}

.alert_button_bar
{
    -fx-alignment: CENTER_RIGHT;
    -fx-spacing: 5;
    -fx-padding: 5;
}

.alert_scroll_pane
{
    -fx-max-height : 300;
}


.combo_box
{
    -fx-alignment:CENTER_LEFT;
    -fx-pref-width:200;
    -fx-padding: 5;
    -fx-border-width : 1;
    -fx-border-color : grey;
    -fx-border-radius : 5;
}

.combo_box_popup
{
    -fx-border-width : 5;
    -fx-border-radius : 5;
    -fx-background-radius : 5;
    -fx-max-height : 300;
    -fx-max-width : 410;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0.0 , 0 );
}

.combo_box_popup_vbox
{
    -fx-padding: 5 5 0 5;
    -fx-spacing:5;
}

.combo_box_drop_down_icon
{
    -fx-icon-code: fas-caret-down;
    -fx-icon-size: 14;
}

.action_grid_pane_parent
{
     -fx-background-color:transparent;
}

.first_time_use_pane_heading_label
{
    -fx-font-size: 20;
}

.first_time_use_pane_stackpane
{

}

.first_time_use_pane_welcome
{

}

.first_time_use_pane_license
{
    -fx-spacing : 10;
}

.first_time_use_pane_final_config
{

}

.first_time_use_pane_final_config_label
{
    
}

.first_time_use_welcome_pane_welcome_label
{
    -fx-font-size: 30;
}

.first_time_use_welcome_pane_next_to_continue_label
{
    -fx-font-size: 15;
}

.scroll-pane
{
    -fx-focus-color:transparent;
    -fx-faint-focus-color:transparent;
}

/*Alert Classes added to default stylesheet to show init error, if occurs */
.action_box_display_text_label
{
    -fx-background-color : transparent;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.3, 0.0, 0.0);*/
}

.alert_pane
{
    -fx-background-color : white;
    -fx-border-color : white;
}

.alert_content_pane
{
    -fx-background-color: white;
    -fx-padding: 5;
}

.alert_scroll_pane
{
    -fx-background:  white;
    -fx-border-color:white;
}

.alert_button_bar
{
    -fx-background-color:white;
}


.about_donate_hyperlink
{
    -fx-padding : 10 0 0 0;
    -fx-font-size : 25;
    -fx-border-color: transparent;
}

.screensaver
{
    -fx-background-color: black;
}

.separator_ui_label
{
    -fx-text-fill: grey;
}


.action_grid_pane_parent, .action_grid_pane
{
    -fx-background: transparent;
}

.general_settings_sub_heading
{
    -fx-font-size: 18;
    -fx-padding: 10 0 5 0;
}

.first_time_use_pane_final_config_warning_label
{
    -fx-padding: 30 20 0 20;
    -fx-font-family : 'Roboto Bold';
    -fx-text-alignment: center;
}